body {
    margin: 0;
    padding: 0;
    font-family: NotoSans-Regular;
}

.none {
    display: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.section-button-wrapper {
    text-align: center;
}


/** Featured Products */

.section-new {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-featured {
    padding-top: 60px;
    padding-bottom: 70px;
}