.info-section {
    padding: 68px 0;
    background-size: cover;
    background-position: center;
}

.info-section_1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url("/assets/img/main/bg1.jpg");
}

.info-section_2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url("/assets/img/main/bg2.jpg");
}

.info-section__row {
    display: flex;
    justify-content: space-between;
}

.info-section__title {
    margin: 0;
    font-family: PlayfairDisplay-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 1;
    color: #FFFFFF;
}