.none {
    display: none;
}

/*! Шрифт по умолчанию "NotoSans-Regular" */

@font-face {

    /*Шрифт NotoSans Regular*/
	font-family: 'NotoSans-Regular';
	src: url('/assets/fonts/Noto_Sans/NotoSans-Regular.eot');
	src: local('☺'), url('/assets/fonts/Noto_Sans/NotoSans-Regular.woff') format('woff'), url('/assets/fonts/Noto_Sans/NotoSans-Regular.ttf') format('truetype'), url('/assets/fonts/Noto_Sans/NotoSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {

    /*Шрифт NotoSans Bold*/
	font-family: 'NotoSans-Bold';
	src: url('/assets/fonts/Noto_Sans/NotoSans-Bold.eot');
	src: local('☺'), url('/assets/fonts/Noto_Sans/NotoSans-Bold.woff') format('woff'), url('/assets/fonts/Noto_Sans/NotoSans-Bold.ttf') format('truetype'), url('/assets/fonts/Noto_Sans/NotoSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {

    /*Шрифт PlayfairDisplay Regular*/
	font-family: 'PlayfairDisplay-Regular';
	src: url('/assets/fonts/Playfair_Display/PlayfairDisplay-Regular.eot');
	src: local('☺'), url('/assets/fonts/Playfair_Display/PlayfairDisplay-Regular.woff') format('woff'), url('/assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype'), url('/assets/fonts/Playfair_Display/PlayfairDisplay-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: NotoSans-Regular;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/** Nav NavBar*/

.nav {
    padding: 40px 0px;
}

.nav__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav__logo {

    /* Elegance */
    font-family: NotoSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    margin-right: 83px;
    color: #000000;
}

a.nav__logo:hover {
    text-decoration: underline;
}

.nav__list {
    display: flex;
}
.nav__item {
    margin-right: 30px;
    font-size: 18px;
}

.nav__link:hover {
    color: rgb(247, 36, 100);
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    color: black;
}


.nav__cart {
    margin-left: auto;
}


.nav__cart-link {
    position: relative;
    display: inline-block;
    padding: 8px;
    margin-top: 5px;
}

.nav__cart-number {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    right: 0px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    background: #F72464;
}

/** Header */

.header__row {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.header__content {
    position: absolute;
    width: 650px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header__title {
    margin: 0px;
    margin-bottom: 20px;
    font-family: PlayfairDisplay-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 96px;
}

.header__text {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 60px;
}

/* 
.header__btn {

} */

.button {
    display: inline-block;
    padding: 0px 33px;
    height: 51px;
    background-color: #ff014dc7;
    box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
    border-radius: 4px;

    /*Text*/
    font-family: PlayfairDisplay-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 51px;
    color: white;
    text-align: center;

    /* Для плавной трансф. Тени */
    transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in;
}

.button:hover {
    box-shadow: 0px 4px 25px rgba(172, 11, 59, 0.692);
    background-color: #ff004c;
}

/** Featured Products */

.featured-section {
    padding-top: 60px;
    padding-bottom: 70px;
}

/** Section header */

.section-header {
    margin-bottom: 40px;
}
.section-header__title {
    margin: 0;
    margin-bottom: 10px;
    font-family: PlayfairDisplay-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    color: #000000;
}
.section-header__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center; 
    text-transform: uppercase;
    color: #999999;

}

.section-header__description p {
    margin-top: 0px;
}

/** Product */

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    padding-bottom: 40px;
}

.product-link {
    text-decoration: none;
    display: inline-block;
    transition: opacity 0.2s ease-in;
}

.product-link:hover {
    opacity: 0.8;
}

.product {
    text-align: center;
    max-width: 270px;
    max-height: 420px;
}
.product__img {
    display: block;
    width: 270px;
    height: 350px;
}
.product__title {
    margin: 0px;
    margin-bottom: 12px;
    font-family: PlayfairDisplay-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}
.product__price {
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}
.product__price-old {
    margin-right: 10px;
    font-weight: normal;
    color: #999999;
}
.product__price-new {
    font-weight: bold;
    color: #F72464;
}

/** Section */

.section-button-wrapper {
    text-align: center;
}

/* button outline */

.button-outline {
    display: inline-block;
    font-family: PlayfairDisplay-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
    padding: 9px 40px 12px;

    background: #FFFFFF;
    border: 1px solid #F72464;
    box-sizing: border-box;
    border-radius: 4px;
    transition: background-color 0.3s ease-in;;
}

.button-outline:hover {
    background: #F72464;
    color: white;
}